# Setup and Installation

## Setup and Installation

- Install Anaconda or Miniconda

- Create Environment

- Install tldr

## Working with Jupyter Notebooks in VSCode


- Create, open, and save Jupyter Notebooks

- Work with Jupyter code cells

- View, inspect, and filter variables using the Variable Explorer and Data Viewer

- Connect to a remote Jupyter server

- Debug a Jupyter Notebook

### Creating Jupter Notebooks

- Download the VSCode 

- Python extension for VS Code and Jupyter extension for VS Code from the Visual Studio 

- Miniconda with Python 3.9 (If you already have Anaconda, you are ok) 

- Follow the instructions [here](https://code.visualstudio.com/docs/datascience/jupyter-notebooks)

## Set up a data science environment

- Create a conda environment with the following packages:

In [ ]:
- conda create -n myenv python=3.9 pandas jupyter seaborn scikit-learn matplotlib ipython

- Create a folder in a convenient location to serve as your VS Code workspace for the tutorial, name it hello_ds

- Open the folder in Vscode

- Once VS Code launches, create the Jupyter notebook by (⇧⌘P) and select Jupyter: Create New Jupyter Notebook.

- Save the file as hello.ipynb

- After your file is created, you should see the open Jupyter notebook in the notebook editor. 

- Next select Select Kernel at the top right of the notebook 

- Choose the Python environment you created above in which to run your kernel

In [7]:
import pandas as pd
import numpy as np
data = pd.read_csv("./titanic3.csv")


data

,id,'pclass','survived','name','sex','age','sibsp','parch','ticket','fare','cabin','embarked','boat','body','home.dest'
0,1,1,1,"Allen,Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis,MO"
1,2,1,1,"Allison,Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal,PQ / Chesterville,ON"
2,3,1,0,"Allison,Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal,PQ / Chesterville,ON"
3,4,1,0,"Allison,Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal,PQ / Chesterville,ON"
4,5,1,0,"Allison,Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal,PQ / Chesterville,ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,3,0,"Zabour,Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?
1305,1306,3,0,"Zabour,Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?
1306,1307,3,0,"Zakarian,Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?
1307,1308,3,0,"Zakarian,Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?
1308,1309,3,0,"Zimmerman,Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?

In [8]:
y as np
data = pd.read_csv("./titanic3.csv")


data

SyntaxError: invalid syntax (757830873.py, line 1)

> Now, run the cell using the Run cell icon or the Shift+Enter shortcut.

- view the data in the Pandas Data Viewer

## Python Interactive window

- You can use Python interactively in the VS Code 

- You can use the Python Interactive window

### Connect to a remote Jupyter server#

- You can offload intensive computation in a Jupyter notebook to other computers by connecting to a remote Jupyter server. 

- Once connected, code cells run on the remote server rather than the local computer.

- Even Google colab: ["How to Connect to VSCode to Colab"](https://colab.research.google.com/github/JayThibs/jacques-blog/blob/master/_notebooks/2021-09-27-connect-to-colab-from-local-vscode.ipynb), [another one](https://www.freecodecamp.org/news/how-to-use-google-colab-with-vs-code/)

### Downloading data from GitHub

- Create Github Account

- Setup Github Details

- Download the data from Github